<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Cats</h1>
        </div>
    </header>

    <section class="wrapper grid">
        <div class="images">
            <a href="/whiskers">
                <img src="img/image.jpg" class="pic" alt="">
            </a>
        </div>
        <div class="images">
            <a href="/race">
                <img src="img/image2.jpg" class="pic" alt="">
            </a>
        </div>
        <div class="images">
            <a href="/petey">
                <img src="img/image3.jpg" class="pic" alt="">
            </a>
        </div>
        <div class="images">
            <a href="/daisy">
                <img src="img/image4.jpg" class="pic" alt="">
            </a>
        </div>
    </section>
</body>
</html>