<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Survey Form</h1>
        </div>
    </header>

    <section class="wrapper main">
        <form action="/results" class="flex-col" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="location">Dojo Location:</label>
            <input type="text" name="location">
            <label for="language">Favorite Language:</label>
            <input type="text" name="language">
            <label for="comment">Comment (optional):</label>
            <textarea name="comment"></textarea>
            <input type="submit" class="submit-btn" value="Submit">
        </form>
    </section>
</body>
</html>