<div class="rating">
    <form class="flex-col">
    <select name="rating" id="select">
        <option value="blank">-- Select --</option>
        <option value="5">5 stars</option>
        <option value="4">4 stars</option>
        <option value="3">3 stars</option>
        <option value="2">2 stars</option>
        <option value="1">1 star</option>
    </select>
    <textarea name="comment" placeholder="Leave a comment"></textarea>
    <input type="submit" class="btn" value="Rate it">
    </form>
</div>

